@charset "utf-8";

html{
    font-size: 62.5%;
}
body{
    color: #383e45;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    margin: 20px 20px;
}
header h1{
    width: 120px;
}

header ul{
    display: flex;
}

header li{
    padding-left: 30px;
    
}

header li a{
    color: #383e45;
}

header li a:hover{
    opacity: 0.7;
}

header li img{
    width: 20px;
}

/* main */
#mainvisual{
    width: 100%;
    padding-bottom: 60px;
}
.sec-title{
    text-align: center;
    margin-bottom: 60px;
    font-size: 2.2rem;
}

/* about */
#about{
    padding-bottom: 60px;
}
#about .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 100px;
}

#about img{
    width: 120px;
    height: 120px;
    margin: 20px 100px;
    border-radius: 50%;
}

#about li:first-child{
    padding-bottom: 10px;
}
#about ul{
    margin: 0 100px;
    padding-inline-start: 0;
    font-size: 1.3rem;
    
}
#about p{
    margin: 0 30px;
    padding-top: 30px;
}

/* works */

#works .wrapper{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 0 20px;
}
#works .wrapper img{
    width: 21%;
    margin: 2%;
}

/* news */
#news  ul{
    list-style: disc;
    padding-left: 15px;
  }
#news .ul-align-center{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
#news li {
    padding-bottom: 10px;
    font-size: 1.3rem;
}
#news li a:hover{
    opacity: 0.7;
}

/* contact */
#contact dl{
    display: flex;
    flex-wrap: wrap;
    margin-left: 17%;
}
#contact dt{
    width: 50%;
    margin: 0 40px;
}
#contact dd{
    width: 60%;
    margin-bottom: 10px;
}
#contact dd input, 
#contact dd textarea {
    width: 100%;
    border: solid 1px #c8c8c8;
    padding: 10px;
}
#contact dd textarea {
    height: 10rem;
}
#contact .button{
    text-align: center;
}
#contact .button input{
    width: 200px;
    background-color: #24292e;
    color: #fff;
    padding: 15px 0;
    border: solid 1px #24292e;
}
#contact .button input:hover {
    background: #fff;
    color: #24292e;
}
/* footer */